@media screen and (max-width: 1200px) {

    .process-slider-wrapper .swiper-button-next,
    .process-slider-wrapper .swiper-button-prev,
    .service-slider-wrapper .swiper-button-next,
    .service-slider-wrapper .swiper-button-prev {
        display: flex;
    }

    .real-data {
        aspect-ratio: 1179 / 1381.38;
    }
}

@media screen and (max-width: 1073px) {
    .menu-container__bar {
        display: flex;
    }

    .header-bottom__function .search-box,
    .header-bottom__menu {
        display: none !important;
    }
}

@media (max-width: 1024px) {

    .card-img__wrap,
    .card-content,
    .archive-item--large {
        width: 100%;
    }

    .archive-item--small {
        width: calc(50% - 10px);
    }

    .real-data {
        aspect-ratio: 1004 / 2538.91;
    }
}

@media screen and (max-width: 1000px) {

    .archive-sidebar,
    .archive-main,
    .contact-section__container,
    .footer-top__content {
        width: 100%;
    }

    .blog-container {
        width: calc((100% - var(--gap)) / 2);
    }
}

@media screen and (max-width: 900px) {
    .header-top .menu-container__item {
        display: none !important;
    }

    .header-top .menu-container__bar {
        display: flex !important;
    }

    .header-top {
        align-items: center !important;
    }

    .header-top .header-container::after {
        background: unset;
    }

    .company-info__logo {
        max-width: 100%;
    }

    .footer-menu__container,
    .company-info {
        width: 100%;
    }
}

@media screen and (max-width: 835px) {}

@media screen and (max-width: 800px) {
    .page-layout {
        flex-direction: column;
    }

    .mobile-filter {
        display: flex;
    }

    .layout-sidebar {
        flex: 1 0 100%;
        width: 100%;
    }

    .filter-widget__list,
    .filter-widget__title {
        display: none !important;
    }
}


/* @media screen and (min-width: 769px) {} */

@media screen and (max-width: 768px) {

    :root {
        --font-size-base: 14px;
    }

    .container-padding {
        padding: 30px 0px !important;
    }

    .footer-top img {
        max-width: 260px;
    }

    .text-header-size {
        font-size: calc(var(--font-size-base) + 10px);
    }

    .blog-main,
    .blog-sidebar,
    .archive-item--large,
    .archive-item--small {
        width: 100%;
    }

    .archive-item--large {
        flex-direction: column;
    }

    .review-section {
        flex-direction: column-reverse;
    }

}

@media screen and (max-width : 700px) {
    .products-section__cta {
        display: flex;
    }

    .archive-description {
        display: none !important;
    }


}

@media screen and ( max-wdith: 600px){
     .real-data {
        aspect-ratio: 580 / 3394.25;
    }
}

@media screen and (max-width: 590px) {
    header {
        padding-bottom: 0px;
    }

    .news-detail__left,
    .news-detail__right,
    .service-mini,
    .post-mini,
    .contact-card {
        width: 100%;
    }
}

/* 
@media screen and (max-width: 551px) {} */

@media screen and (max-width: 480px) {
    .footer-menu {
        width: 100%;
    }

}