    <div class="container-f bg-white border-bottom pos-rel header-container">
            <div class="container-l center-ver jus-sb item-padding-10">
                <div class="logo pos-rel flex center-ver">
                    <img title="ThanhDev Library Layout" src="./img/logo/logo-top.svg" alt="ThanhDev Logo">
                    <a href="../index.html" class="link-overlay" aria-label="Trang chủ ThanhDev"></a>
                </div>

                <nav class="header-bottom__menu flex gap-20 center-ver">
                    <div class="menu-container__item header-bottom__item">
                        <a class="text-color-black bold" href="../intro.html">Giới thiệu</a>
                    </div>
                    <div class="menu-container__item header-bottom__item drop-down pos-rel">
                        <a class="text-color-black bold" href="../products.html">Sản phẩm</a>
                        <ul class="menu-list flex flex-col">
                            <li class="menu-leveltwo__container pos-rel">
                                <a href="../admin-dashboard.html">Giao diện Admin</a>
                            </li>
                            <li class="menu-leveltwo__container pos-rel">
                                <a href="../ecommerce-website.html">Website Bán Hàng</a>
                                <ul class="menu-list__leveltwo flex flex-col">
                                    <li><a href="../e-commerce.html">Thương mại điện tử</a></li>
                                    <li><a href="../product-showcase.html">Trưng bày sản phẩm</a></li>
                                </ul>
                            </li>
                            <li class="menu-leveltwo__container pos-rel">
                                <a href="../ssl-certificates.html">Chứng chỉ SSL</a>
                            </li>
                        </ul>
                    </div>

                    <div class="menu-container__item header-bottom__item">
                        <a class="text-color-black bold" href="../services.html">Dịch vụ</a>
                    </div>
                    <div class="menu-container__item header-bottom__item">
                        <a class="text-color-black bold" href="../news.html">Tin tức</a>
                    </div>
                    <div class="menu-container__item header-bottom__item">
                        <a class="text-color-black bold" href="../contact.html">Hỗ trợ</a>
                    </div>
                </nav>

                <div class="header-bottom__function flex gap-10 center-ver">
                    <div class="search-box item-padding-10 border-radius-10 flex center-ver bg-white-secondary">
                        <input type="text" placeholder="Tìm kiếm layout..."
                            class="flex-1 border-none text-sm bg-white-secondary">
                        <button class="search-btn">
                            <div class="icon-md ratio-1x1"><img src="./img/icon/search.svg" alt="Search"
                                    class="img-icon">
                            </div>
                        </button>
                    </div>
                    <div class="cart-box pos-rel flex center-ver">
                        <img class="icon-md" src="./img/icon/cart.svg" alt="Cart">
                        <a href="javascript:void(0)" class="link-overlay" aria-label="Giỏ hàng"></a>
                    </div>
                    <div class="user-login active pos-rel flex center-ver">
                        <img class="icon-md" src="./img/icon/user.svg" alt="User">
                        <a href="javascript:void(0)" class="link-overlay" aria-label="Đăng nhập"></a>
                    </div>
                    <button class="menu-container__bar center-ver center-hor">
                        <img class="icon-md" src="./img/icon/bars.svg" alt="Open Menu">
                    </button>
                </div>

                <div class="m-menu flex flex-col pos-abs bg-white shadow-sm">
                    <div class="m-menu__header flex flex-col gap-15 item-padding-20 pb-0">
                        <div class="search-box border-radius-5 item-padding-10 flex center-ver bg-white-secondary fill-view">
                            <input type="text" placeholder="Tìm kiếm..." class="flex-1 border-none bg-white-secondary">
                            <button class="search-btn"><img class="icon-sm" src="./img/icon/search.svg"
                                    alt="Search"></button>
                        </div>
                    </div>

                    <div class="m-menu__root flex flex-col">
                        <div class="m-menu__item flex flex-col active">
                            <a href="../index.html" class="text-color-primary bold uppercase">Trang chủ</a>
                        </div>

                        <div class="m-menu__item flex flex-col">
                            <a href="../products.html" class="text-color-deactive bold uppercase">Sản phẩm</a>

                            <div class="m-submenu flex flex-col gap-10">
                                <a href="../admin-dashboard.html" class="pl-15 text-sm font-medium">Giao diện Admin</a>

                                <div class="m-submenu__item flex flex-col gap-5">
                                    <a href="../ecommerce.html" class="pl-15 text-sm font-medium">Website Bán Hàng</a>

                                    <div class="m-submenu__levelthree flex flex-col gap-10">
                                        <a href="../e-commerce.html" class="pl-30 text-xs text-color-deactive">— Thương mại điện tử</a>
                                        <a href="../product-showcase.html" class="pl-30 text-xs text-color-deactive">— Trưng bày sản phẩm</a>
                                    </div>
                                </div>

                                <a href="../ssl-certificates.html" class="pl-15 text-sm font-medium">Chứng chỉ SSL</a>
                            </div>
                        </div>

                        <div class="m-menu__item flex flex-col">
                            <a href="../services.html" class="text-color-deactive bold uppercase">Dịch vụ</a>
                        </div>

                        <div class="m-menu__item flex flex-col">
                            <a href="../news.html" class="text-color-deactive bold uppercase">Tin tức</a>
                        </div>
                         <div class="m-menu__item flex flex-col">
                            <a href="../contact.html" class="text-color-deactive bold uppercase">Liên hệ</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>